<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.safety.mapper.RouteChangeLogMapper">
    
    <select id="selectByVersionId" resultType="com.mine.safety.entity.RouteChangeLog">
        SELECT * FROM route_change_log WHERE version_id = #{versionId} ORDER BY id ASC
    </select>
    
    <select id="selectByRouteId" resultType="com.mine.safety.entity.RouteChangeLog">
        SELECT * FROM route_change_log WHERE route_id = #{routeId} ORDER BY id DESC
    </select>
    
    <select id="selectByVersionIds" resultType="com.mine.safety.entity.RouteChangeLog">
        SELECT * FROM route_change_log WHERE version_id IN 
        <foreach collection="versionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY version_id ASC, id ASC
    </select>
    
</mapper>