target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Database ###
*.db
data/

### Maven ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

### Node.js ###
node_modules/
package-lock.json
yarn.lock

### Angular ###
dist/
.browserslistrc
.editorconfig
.eslintrc.json
karma.conf.js
